@{
    ViewData["Title"] = "planpage";
}


<p><a href="/logout">Log Out</a>  <a href="/Dashboard">Dashboard</a></p>
<h3>Plan Your Wedding</h3>

<form action="Create" method="post">

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-queen"></i></span>
    <input id="WeddingOne" type="text" class="form-control" name="Title" placeholder="Title">
  </div>


  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-king"></i></span>
    <input id="WeddingTwo" type="Time" class="form-control" name="Time" placeholder="">
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <input id="Date" type="Date" class="form-control" name="Date" placeholder="Date">
  </div>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
    <input id="Address" type="number" class="form-control" name="Duration" placeholder="Duration">
  </div>
<select name = Hours>
  <option value="Days">Days</option>
  <option value="Hours">Hours</option>
  <option value="Minutes">Minutes</option>
</select>


    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-queen"></i></span>
    <input id="WeddingOne" type="text" class="form-control" name="Description" placeholder="Description">
  </div>

        <input type="submit" value="Create" class="btn btn-success">

</form>
<div>
    @{
        foreach(var error in ViewBag.Errors)
        {
            //If there are any errors for a field...
            if(@error.Errors.Count > 0)
            {
                // We show the first error for that field
                <p>@error.Errors[0].ErrorMessage</p>
            }
        }
    }
</div>